= simple_form_for @coffee_note_form do |f|
  - if @coffee_note_form.errors.any?
    #error_explanation
      %h2= "#{pluralize(@coffee_note_form.errors.count, "error")} prohibited this coffee_note_form from being saved:"
      %ul
        - @coffee_note_form.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :date, as: :date, as: :string
  -# .field
  -#   = f.input :coffee_type_note
  .field
    = f.input :size, collection: coffee_sizes
  .field
    = f.input :rating
  .field
    = f.input :notes
  .actions
    = f.submit 'Save'
