%p#notice= notice

%h1
  = @coffee_note.coffee_type.name

%h5
  = format_date(@coffee_note.date)
%p
  %b Rating:
  = @coffee_note.rating
%p
  %b Notes:
  = @coffee_note.notes

= link_to 'Edit', edit_coffee_note_path(@coffee_note)
\|
= link_to 'Back', coffee_notes_path
\|
= link_to 'Destroy', @coffee_note, :method => :delete, :data => { :confirm => 'Are you sure?' }
